<html lang="en-US">
<head>
<title>Sample Web App</title>

<script src="/static/storage.js"></script>
<link rel="stylesheet" href="/static/styles.css">
</head>


<body onload="doShowAll()" bgcolor="lightblue"><center>
	<h2></h2>
	<p>Insert items and quantity for your shopping cart. </p>
	<center><form name=ShoppingList>

		<center><div id="main">
			<table>
				<tr>

					<td><b>Item:</b><input type=text name=name></td>
					<td><b>Quantity:</b><input type=text name=data></td>

				</tr>

				<tr>
					<td>
					    <input type=button value="Save"   onclick="SaveItem()"> 
					    <input type=button value="Update" onclick="ModifyItem()"> 
					    <input type=button value="Delete" onclick="RemoveItem()">
					</td>
				</tr>
			</table>
		</div></center>

		<div id="items_table">
			<h3>Shopping List</h3>
			<table id=list></table>
			<p>
				<label><input type=button value="Clear" onclick="ClearAll()">
					<i>* Delete all items</i></label>
			</p>
		</div>
	</form></center>

</center></body>
</html>
